nav {
  height: 80px;
  background-color: #2C3E50;
}

.jumbotron-freelancer {
  text-align: center;
}

.bg-color {
  background: #1abc9c;
  color: white;
}

.jumbotron-freelancer span::after {
  content: "";
  position: absolute;
  height: 20px;
  width: 80px;
  margin-left: 10px;
  top: 20px;
  border-bottom: 4px solid;
}

#jmbt-img {
  height: 200px;
}

.img-portfolio {
  margin-bottom: 30px;
  border-radius: 10px;
}

span {
  position: relative;
  padding: 20px 0;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

.stars {
  font-size: 40px;
}

.about {
  padding: 40px 200px;
  text-align: left;
}

.btn {
  color: white;
  background-color: inherit;
  border: 1px solid white;
  padding: 10px 30px;
}

i {
  padding-right: 10px;
}
