.bl-navbar {
  background-color: #3A546D;
  margin: 0;
}

.navbar-default.bl-navbar {
  border: none;
}

.bl-navbar .navbar-brand, .bl-navbar .navbar-nav>li>a {
  color: #fff;
  font-weight: bold;
}

.bl-navbar .navbar-brand:hover, .bl-navbar h6>a, .bl-navbar .navbar-nav>li>a:hover {
  color: #1abc9c;
}

.jumbotron.bl-jumbotron {
  border-radius: 0;
}

.bl-jumbotron {
  text-align: center;
}

.bg-color {
  background: #1abc9c;
  color: white;
}

#jmbt-img {
  height: 300px;
}

.img-portfolio {
  margin-bottom: 30px;
  border-radius: 10px;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 25px;
}

.star-line {
  font-size: 40px;
}

.star-line::after,
.star-line::before {
  content: "";
  display: inline-block;
  width: 100px;
  height: 4px;
  border-radius: 5px;
  vertical-align: middle;
  border-top: 5px solid;
  margin: 0 15px;
}

.about {
  padding: 40px 200px;
  text-align: left;
}

.btn-a {
  color: white;
  background-color: inherit;
  border: 1px solid white;
}

.btn-b {
  color: white;
  background-color: #1abc9c;
  border: none;
}

i {
  padding-right: 10px;
}

.bl-row {
  margin-bottom: 30px;
}

.bl-form::placeholder, .bl-form input, .bl-form textarea {
  color: #3A546D;
  font-size: 19px;
}

.bl-form .form-group {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.bl-form input, .bl-form textarea {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  padding-left: 0;
}

.bl-form {
  width: auto;
  margin: 0 auto;
}

section {
  color: #fff;
}

.bl-fa {
  height: 30px;
  width: 30px;
  border: 1px solid;
  border-radius: 50%;
  line-height: 30px;
  margin: 0 5px;
}

.copyright {
  height: 100px;
  background-color: #2C3E50;
}

.copyright p {
  font-size: 10px;
}
